* {
    font-weight: 100;
}

header {
    display: flex;
    justify-content: center;
}

body {
    height: 100vh;
    font-weight: 100;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav {
    display: flex;
    color: white;
    background-color: black;
    height: 50px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   
}

#hamburger_menu {
    display: none;
}

@media (max-width: 750px) {
    #hamburger_menu {
    width: 25px;
    height: 20px;
    display: block;
    border: none;
    margin: 5px;
    background: linear-gradient(
        to bottom,
        white, white 20%,
        black 20%, black 40%,
        white 40%, white 60%,
        black 60%, black 80%,
        white 80%, white 100%
    );
    
}}
#mobile_menu {
    display: none;
    position: absolute;
    top: 10px;
    left: 0%;
    width: 150px;
    height: 30%;
    background-color:black;
    text-align: left;
    margin: 2%;
}

#close {
    color: white;
    padding-left: 8px;
}

ul {
    list-style: none;
    right: 50%;
    font-size: 20px;
    padding-left: 8px;
}

#mobile_link {
    color: white;
    text-decoration: none;
}

#main_nav {
    color: white;
    text-decoration: none;
    font-weight: 100;

}

@media (max-width: 750px) {
    #main_nav {
        display:none;
    }
}



a:hover {
    background-color:rgb(56, 55, 54);
}

#contact {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

#brand {
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    color: white;
    text-decoration: none;
}

#bold_button {
    background-color: white;
    width: 10%;
    height: 55%;
    text-align: center;
    line-height: 25px;
    border-radius: 25px;
}

.hero_content_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('hero_image_japan.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    text-align: center;
    justify-content: center;
}

h1 {
    color:white;
    font-size: 50px;
}

@media (max-width: 750px) {
    h1 {
        font-size: 45px;
    }
}

.h1_button {
    background-color: black;
    font-size: 150%;
    width: 20%;
    height: 5%;
}

#main_CTA {
    color: white;
    text-decoration: none;
}

.value_message_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

h2 {
    font-weight: bold;
    border-bottom: 1px solid burlywood;
}


h3 {
font-weight: bold;
font-size: medium;
}

div[class^='inspiration_container'] {
    display: flex;
    align-items:center;
    text-align: center;
    flex-direction: column;
    justify-items: auto;
    justify-content: space-around;
    background-color: rgb(193,170,127);
    padding: 10px;
    border: 5px solid white;
    transition: box-shadow .3s;
}

.get_inspired_container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 750px) {
    .get_inspired_container {
        display:flex;
        flex-direction: column;
    }
    .h1_button {
        width: 50%;
    }
    #bold_button {
        width: 40%;
    }
}

div[class^='inspiration_container']:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }

.card_image {
    width: 250px;
    height:150px;
    display: flex;
    vertical-align: middle; 
}


.card_heading {
    font-weight: bold;
}

.card_button{
    color: white;
    background-color: black;
    transition: box-shadow .3s;

}
.card_button:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}


input[type =submit] {
    color: white;
    background-color: black;
    margin: 10px;
    width: 100px;

}

form {
    background-color: rgb(193,170,127);
    border: 2px solid black;
}

#form_row1 {
    display: flex;

}

#form_row2 {
    display: flex;

}

input {
    padding: 5px;
    margin: 10px 0;
}

.item1 {
    margin: 5px;
}

.item2 {
    margin: 5px;
}

.item3 {
    margin: 5px;

}

.item4 {
    margin: 5px;
}

.item5 {
    margin: 5px;
}

textarea {
    width: 50%;
    height: 80%;
    resize: vertical;
    padding: 10px;
    border: 0;
    box-shadow: 1px 1px 1px 1px rgb(128, 128, 128);
    border-radius: 15px;
}

input {
    box-shadow: 1px 1px 1px rgb(128, 128, 128);
    border: 0;
    color:rgb(128, 128, 128);
    border-radius: 15px;
    text-align: center;
}



.show_menu {
    display:inline-block !important;
    z-index: 10 !important;
}

div[class^='destination_container'] {
    display: flex;
    align-items:center;
    text-align: center;
    flex-direction: column;
    justify-items: auto;
    justify-content: space-around;
    padding: 10px;
    border: 5px solid white;
    transition: box-shadow .3s;
}

.top_destination_container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.lower_destination_container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
@media (max-width: 750px) {
    .top_destination_container {
        display:flex;
        flex-direction: column;
    }
    .lower_destination_container {
        display: flex;
        flex-direction: column;
    }

    .h1_button {
        width: 50%;
    }
    #bold_button {
        width: 40%;
    }
}

div[class^='destination_container']:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }

.filter_container {
    display: flex;
}

#filter1 {
    margin: 10px;
}

#filter2 {
    margin: 10px;
}

#clear {
    margin: 10px;
    font-size: 14px;
    color:rgb(128, 128, 128);
}
